* {
  box-sizing: content-box;
}

body {
  background-color: rgb(126, 152, 175);
  height: 100%;
}

#root {
  height: 100%;
  padding:none;
}

#box {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
  top: 50%;
  transform: translateY(50%);
}

.quote {
  background-color: rgb(155, 184, 212);
  border-radius: 4px;
}

#search {
  background-color: rgb(182, 205, 226);
  background-image: url(search.png);
  background-size: auto 80%;
  background-repeat: no-repeat;
  background-position: left 4px center;
  padding-left: 24px;
  width: 90%;
}

#input-container > img {
  position: absolute;
  top: 4px;
  height: 16px;
}

#input-container > input {
  padding-left: 20px;
  border-radius: 4px;
}

#quotes-container {
  overflow-y: auto;
}

#author {
  text-align: right;
}